<!-- component -->
<div class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm w-full">
    <div class="flex justify-center mb-6">
            <span class="inline-block bg-gray-200 rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/></svg>
            </span>
    </div>
    {{this.loginForm.value | json}}
    <h2 class="text-2xl font-semibold text-center mb-4">Create a new account</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Email Address</label>
        <input formControlName="username" type="email" id="email" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-green-500" required placeholder="hello@alignui.com">
      </div>
      <div class="mb-6">
        <label for="password" class="block text-gray-700 text-sm font-semibold mb-2">Password</label>
        <input formControlName="password" type="password" id="password" class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-green-500" required placeholder="••••••••">
      </div>
      <button type="submit" class="w-full bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">Login</button>
      <p class="text-gray-600 text-xs text-center mt-4">
        By clicking Register, you agree to accept Siriginti Confidentiality
        <a href="#" class="text-green-500 hover:underline">Terms and Conditions</a>.
      </p>
    </form>
  </div>
</div>
